  * {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Navigation styling */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #111;
  }

  .horizontal-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0;
  }

  .start {
    display: flex;
    align-items: center;
  }

  .end {
    display: flex;
    align-items: center;
  }

  .menu-icon {
    width: 30px;
    cursor: pointer;
  }

  /* Sidebar styling */
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    color: black;
    padding-top: 20px;
    transition: transform 0.3s ease;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    padding: 15px;
    text-align: center;
  }

  .sidebar ul li a {
    color: black;
    text-decoration: none;
    display: block;
  }

  /* Header */
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #111;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  }

  header .name {
    color: #111;
  }

  .profile-header .user-icon img {
    width: 30px;
    border-radius: 50%;
  }

  /* When sidebar is hidden */
  .sidebar-hidden .sidebar {
    transform: translateX(-250px);
  }

  .sidebar-hidden header nav {
    margin-left: 0;
  }

  .logo-img {
    width: 80px;
  }

  .profile-header a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-header img {
    margin-bottom: 5px;
    width: 60px;
  }

  .user-icon img {
    width: 40px;
    margin-bottom: -5px;
  }

  .notification img {
    width: 40px;
  }
