
.client-page-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px;
}
.number-category p {
    font-size: 20px;
    color: #2a2e34;
    font-weight: 500;

}
.create-clients button{
   background-color: transparent;
}
.create-clients button:hover{
   background-color: rgb(238, 235, 235);
}
.create-clients button a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.create-clients  img {
    width: 17px;
}
.create-filter-search-clients {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 1px solid gray;
    width: 40%;
    padding: 8px;
    border-radius: 10px;
}
.number-category {
    padding: 10px 20px 0;
}
/* .create-clients .btn-create {
    background-color: transparent;
} */
.modern-payments-table {
    padding: 0 20px;
    border-radius: 20px;
}
#company-name {
display: flex;
align-items: center;
justify-content: flex-start;
}
#company-name img {
width: 15px;
margin-left: 10px;
}

#website {
/* display: flex;
align-items: center;
justify-content: flex-start; */
}
#website img {
width: 15px;
margin-left: 10px;
}

.client-company-name a {
    text-decoration: none;
    color: #2A2E34;
    font-weight: 500;
}

.client-company-name a:hover {
    text-decoration: underline;
}
.client-domain-name a {
    text-decoration: none;
}